<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tequeno.client.mapper.UmCompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tequeno.client.entity.UmCompanyInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="create_by_id" property="createById" jdbcType="VARCHAR" />
    <result column="modify_by_id" property="modifyById" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, company_name, grade, seq, create_by_id, modify_by_id, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from um_company_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from um_company_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tequeno.client.entity.UmCompanyInfo" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into um_company_info (pid, company_name, grade, 
      seq, create_by_id, modify_by_id, 
      create_time, modify_time)
    values (#{pid,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, 
      #{seq,jdbcType=INTEGER}, #{createById,jdbcType=VARCHAR}, #{modifyById,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tequeno.client.entity.UmCompanyInfo" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into um_company_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="createById != null" >
        create_by_id,
      </if>
      <if test="modifyById != null" >
        modify_by_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="createById != null" >
        #{createById,jdbcType=VARCHAR},
      </if>
      <if test="modifyById != null" >
        #{modifyById,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tequeno.client.entity.UmCompanyInfo" >
    update um_company_info
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="createById != null" >
        create_by_id = #{createById,jdbcType=VARCHAR},
      </if>
      <if test="modifyById != null" >
        modify_by_id = #{modifyById,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tequeno.client.entity.UmCompanyInfo" >
    update um_company_info
    set pid = #{pid,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      seq = #{seq,jdbcType=INTEGER},
      create_by_id = #{createById,jdbcType=VARCHAR},
      modify_by_id = #{modifyById,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>