<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tequeno.client.mapper.UmDataDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.tequeno.client.entity.UmDataDictionary" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="value_code" property="valueCode" jdbcType="VARCHAR" />
    <result column="value_name" property="valueName" jdbcType="VARCHAR" />
    <result column="compare_value" property="compareValue" jdbcType="INTEGER" />
    <result column="create_by_id" property="createById" jdbcType="VARCHAR" />
    <result column="modify_by_id" property="modifyById" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_code, type_name, value_code, value_name, compare_value, create_by_id, modify_by_id, 
    create_time, modify_time
  </sql>
</mapper>