<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tequeno.client.mapper.UmResourceInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tequeno.client.entity.UmResourceInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="res_zh_name" property="resZhName" jdbcType="VARCHAR" />
    <result column="res_cn_name" property="resCnName" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="res_url" property="resUrl" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="create_by_id" property="createById" jdbcType="VARCHAR" />
    <result column="modify_by_id" property="modifyById" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, res_zh_name, res_cn_name, grade, res_url, seq, create_by_id, modify_by_id, 
    create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from um_resource_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from um_resource_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tequeno.client.entity.UmResourceInfo" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into um_resource_info (pid, res_zh_name, res_cn_name, 
      grade, res_url, seq, 
      create_by_id, modify_by_id, create_time, 
      modify_time)
    values (#{pid,jdbcType=VARCHAR}, #{resZhName,jdbcType=VARCHAR}, #{resCnName,jdbcType=VARCHAR}, 
      #{grade,jdbcType=INTEGER}, #{resUrl,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, 
      #{createById,jdbcType=VARCHAR}, #{modifyById,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tequeno.client.entity.UmResourceInfo" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into um_resource_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="resZhName != null" >
        res_zh_name,
      </if>
      <if test="resCnName != null" >
        res_cn_name,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="resUrl != null" >
        res_url,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="createById != null" >
        create_by_id,
      </if>
      <if test="modifyById != null" >
        modify_by_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="resZhName != null" >
        #{resZhName,jdbcType=VARCHAR},
      </if>
      <if test="resCnName != null" >
        #{resCnName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="resUrl != null" >
        #{resUrl,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="createById != null" >
        #{createById,jdbcType=VARCHAR},
      </if>
      <if test="modifyById != null" >
        #{modifyById,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tequeno.client.entity.UmResourceInfo" >
    update um_resource_info
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="resZhName != null" >
        res_zh_name = #{resZhName,jdbcType=VARCHAR},
      </if>
      <if test="resCnName != null" >
        res_cn_name = #{resCnName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="resUrl != null" >
        res_url = #{resUrl,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="createById != null" >
        create_by_id = #{createById,jdbcType=VARCHAR},
      </if>
      <if test="modifyById != null" >
        modify_by_id = #{modifyById,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tequeno.client.entity.UmResourceInfo" >
    update um_resource_info
    set pid = #{pid,jdbcType=VARCHAR},
      res_zh_name = #{resZhName,jdbcType=VARCHAR},
      res_cn_name = #{resCnName,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      res_url = #{resUrl,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=INTEGER},
      create_by_id = #{createById,jdbcType=VARCHAR},
      modify_by_id = #{modifyById,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>