###main-entry-ignore-list###
target/
.classpath
.project
.settings
.idea/
*.iws
*.iml
*.ipr
out/

ssm/target/
ssm/.classpath
ssm/.project
ssm/.settings
ssm/.idea/
ssm/*.iws
ssm/*.iml
ssm/*.ipr
ssm/out/

###ocean-api###
ssm/ocean-api/target/
ssm/ocean-api/.classpath
ssm/ocean-api/.project
ssm/ocean-api/.settings
ssm/ocean-api/.idea/
ssm/ocean-api/*.iws
ssm/ocean-api/*.iml
ssm/ocean-api/*.ipr
ssm/ocean-api/out/

###boot-assembly###
ssm/boot-assembly/target/
ssm/boot-assembly/.classpath
ssm/boot-assembly/.project
ssm/boot-assembly/.settings
ssm/boot-assembly/.idea/
ssm/boot-assembly/*.iws
ssm/boot-assembly/*.iml
ssm/boot-assembly/*.ipr
ssm/boot-assembly/out/

###boot-ssm###
ssm/boot-ssm/target/
ssm/boot-ssm/.classpath
ssm/boot-ssm/.project
ssm/boot-ssm/.settings
ssm/boot-ssm/.idea/
ssm/boot-ssm/*.iws
ssm/boot-ssm/*.iml
ssm/boot-ssm/*.ipr
ssm/boot-ssm/out/

###iou###
iou/target/
iou/.classpath
iou/.project
iou/.settings
iou/.idea/
iou/*.iws
iou/*.iml
iou/*.ipr
iou/out/

###iou-api###
iou/iou-api/target/
iou/iou-api/.classpath
iou/iou-api/.project
iou/iou-api/.settings
iou/iou-api/.idea/
iou/iou-api/*.iws
iou/iou-api/*.iml
iou/iou-api/*.ipr
iou/iou-api/out/

###iou-service###
iou/iou-service/target/
iou/iou-service/.classpath
iou/iou-service/.project
iou/iou-service/.settings
iou/iou-service/.idea/
iou/iou-service/*.iws
iou/iou-service/*.iml
iou/iou-service/*.ipr
iou/iou-service/out/

###iou-view###
iou/iou-view/target/
iou/iou-view/.classpath
iou/iou-view/.project
iou/iou-view/.settings
iou/iou-view/.idea/
iou/iou-view/*.iws
iou/iou-view/*.iml
iou/iou-view/*.ipr
iou/iou-view/out/