###main-entry-ignore-list###
target/
.classpath
.project
.settings
.idea/
*.iws
*.iml
*.ipr
out/

###ocean-api###
ocean-api/target/
ocean-api/.classpath
ocean-api/.project
ocean-api/.settings
ocean-api/.idea/
ocean-api/*.iws
ocean-api/*.iml
ocean-api/*.ipr
ocean-api/out/

###boot-assembly###
boot-assembly/target/
boot-assembly/.classpath
boot-assembly/.project
boot-assembly/.settings
boot-assembly/.idea/
boot-assembly/*.iws
boot-assembly/*.iml
boot-assembly/*.ipr
boot-assembly/out/

###boot-ssm###
boot-ssm/target/
boot-ssm/.classpath
boot-ssm/.project
boot-ssm/.settings
boot-ssm/.idea/
boot-ssm/*.iws
boot-ssm/*.iml
boot-ssm/*.ipr
boot-ssm/out/