###main-entry-ignore-list###
target/
.classpath
.project
.settings
.idea/
*.iws
*.iml
*.ipr
out/

###dubbo-api###
dubbo/dubbo-api/target/
dubbo/dubbo-api/.classpath
dubbo/dubbo-api/.project
dubbo/dubbo-api/.settings
dubbo/dubbo-api/.idea/
dubbo/dubbo-api/*.iws
dubbo/dubbo-api/*.iml
dubbo/dubbo-api/*.ipr
dubbo/dubbo-api/out/

###dubbo-service###
dubbo/dubbo-service/target/
dubbo/dubbo-service/.classpath
dubbo/dubbo-service/.project
dubbo/dubbo-service/.settings
dubbo/dubbo-service/.idea/
dubbo/dubbo-service/*.iws
dubbo/dubbo-service/*.iml
dubbo/dubbo-service/*.ipr
dubbo/dubbo-service/out/

###dubbo-provider###
dubbo/dubbo-provider/target/
dubbo/dubbo-provider/.classpath
dubbo/dubbo-provider/.project
dubbo/dubbo-provider/.settings
dubbo/dubbo-provider/.idea/
dubbo/dubbo-provider/*.iws
dubbo/dubbo-provider/*.iml
dubbo/dubbo-provider/*.ipr
dubbo/dubbo-provider/out/

###dubbo-consumer###
dubbo/dubbo-consumer/target/
dubbo/dubbo-consumer/.classpath
dubbo/dubbo-consumer/.project
dubbo/dubbo-consumer/.settings
dubbo/dubbo-consumer/.idea/
dubbo/dubbo-consumer/*.iws
dubbo/dubbo-consumer/*.iml
dubbo/dubbo-consumer/*.ipr
dubbo/dubbo-consumer/out/

###tequeno-base-api###
tequeno/tequeno-base-api/target/
tequeno/tequeno-base-api/.classpath
tequeno/tequeno-base-api/.project
tequeno/tequeno-base-api/.settings
tequeno/tequeno-base-api/.idea/
tequeno/tequeno-base-api/*.iws
tequeno/tequeno-base-api/*.iml
tequeno/tequeno-base-api/*.ipr
tequeno/tequeno-base-api/out/

###tequeno-base-service###
tequeno/tequeno-base-service/target/
tequeno/tequeno-base-service/.classpath
tequeno/tequeno-base-service/.project
tequeno/tequeno-base-service/.settings
tequeno/tequeno-base-service/.idea/
tequeno/tequeno-base-service/*.iws
tequeno/tequeno-base-service/*.iml
tequeno/tequeno-base-service/*.ipr
tequeno/tequeno-base-service/out/

###tequeno-api###
tequeno/tequeno-api/target/
tequeno/tequeno-api/.classpath
tequeno/tequeno-api/.project
tequeno/tequeno-api/.settings
tequeno/tequeno-api/.idea/
tequeno/tequeno-api/*.iws
tequeno/tequeno-api/*.iml
tequeno/tequeno-api/*.ipr
tequeno/tequeno-api/out/

###tequeno-service###
tequeno/tequeno-service/target/
tequeno/tequeno-service/.classpath
tequeno/tequeno-service/.project
tequeno/tequeno-service/.settings
tequeno/tequeno-service/.idea/
tequeno/tequeno-service/*.iws
tequeno/tequeno-service/*.iml
tequeno/tequeno-service/*.ipr
tequeno/tequeno-service/out/

###tequeno-view###
tequeno/tequeno-view/target/
tequeno/tequeno-view/.classpath
tequeno/tequeno-view/.project
tequeno/tequeno-view/.settings
tequeno/tequeno-view/.idea/
tequeno/tequeno-view/*.iws
tequeno/tequeno-view/*.iml
tequeno/tequeno-view/*.ipr
tequeno/tequeno-view/out/