<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tequeno.mapper.sys.DataDictionaryMapper">
    <resultMap id="BaseResultMap" type="com.tequeno.pojo.sys.data.DataDictionary">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type_code" property="typeCode" jdbcType="VARCHAR"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="value_code" property="valueCode" jdbcType="VARCHAR"/>
        <result column="value_name" property="valueName" jdbcType="VARCHAR"/>
        <result column="compare_value" property="compareValue" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, TYPE_CODE, TYPE_NAME, VALUE_CODE, VALUE_NAME, COMPARE_VALUE, CREATE_TIME, MODIFY_TIME
    </sql>
    <sql id="where_conditions">
        1 = 1
        <if test="typeCode != null and typeCode != ''">
            AND TYPE_CODE = #{typeCode}
        </if>
        <if test="valueCode != null and valueCode != ''">
            AND VALUE_CODE = #{valueCode}
        </if>
    </sql>
    <sql id="order_conditions">
        <if test="orderClause != null and orderClause != ''">
            ORDER BY #{orderClause}
        </if>
    </sql>
    <select id="selectAllByCondition" resultMap="BaseResultMap">
        SELECT * FROM UM_DATA_DICTIONARY
        <where>
            <include refid="where_conditions"/>
        </where>
        <include refid="order_conditions"/>
    </select>
</mapper>