<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tequeno.mapper.sys.RoleInfoMapper">
    <resultMap id="BaseResultMap" type="com.tequeno.pojo.sys.res.RoleInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, ROLE_CODE, ROLE_NAME, CREATE_TIME, REMARK, MODIFY_TIME
    </sql>
    <sql id="where_conditions">
        1 = 1
        <if test="roleCode != null and roleCode != ''">
            AND ROLE_CODE = #{roleCode}
        </if>
        <if test="roleName != null and roleName != ''">
            AND ROLE_NAME = #{roleName}
        </if>
        <if test="roleNameLike != null and roleNameLike != ''">
            AND ROLE_NAME LIKE CONCAT('%', #{roleNameLike},'%')
        </if>
    </sql>
    <sql id="order_conditions">
        <if test="orderClause != null and orderClause != ''">
            ORDER BY #{orderClause}
        </if>
    </sql>
    <select id="selectAllByCondition" resultMap="BaseResultMap">
        SELECT * FROM UM_ROLE_INFO
        <where>
            <include refid="where_conditions"/>
        </where>
        <include refid="order_conditions"/>
    </select>
    <delete id="deleteUserRole">
        DELETE FROM UM_USER_ROLE WHERE
        <if test="userId != null">
            USER_ID = #{userId}
        </if>
        <if test="roleId != null">
            ROLE_ID = #{roleId}
        </if>
        <if test="roleCode != null and roleCode != ''">
            ROLE_CODE = #{roleCode}
        </if>
    </delete>
    <select id="selectUserRole" resultType="com.tequeno.pojo.sys.res.ViewUserRoleRes">
        SELECT * FROM V_USER_ROLE WHERE 1 = 1
        <if test="userId != null">
            AND userId = #{userId}
        </if>
        <if test="roleId != null">
            AND roleId = #{roleId}
        </if>
        <if test="userName != null and userName != ''">
            AND userName = #{userName}
        </if>
        <if test="roleCode != null and roleCode != ''">
            AND roleCode = #{roleCode}
        </if>
    </select>
</mapper>