<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script type="text/javascript" src="/jquery/jquery.min-3.4.1.js"></script>
</head>
<body>
<div id="tab_content">
    <table>
        <thead>
        <th>用户名</th>
        </thead>
        <tbody>
        <tr th:each="user:${userList}">
            <td th:text="${user.userName}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="nav_page_bar">
    <ul>
        <li th:each="num:${nums}">
            <a th:href="@{/user/page(currentPage=${num})}"><span th:text="${num}"></span></a>
        </li>
    </ul>
</div>
</body>
</html>